$active-color: #afafff;
$background-color: #3a3a5a;

.more-vertical.icon:before {
  content: 'More';
}
.less-vertical.icon:before {
  content: 'Less';
}

.search.icon:before {
  content: 'Search';
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
  font-family: "Georgia", serif !important;
  color: white;
}

html, body, #root, #root > div, .Prototype {
  width: 100%;
  height: 100%;
}

body {
  background-color: $background-color;
}

.hidden {
  display: none !important;
}

.search-bar {
  position: fixed;
  padding: 5px;
  flex-direction: column;
  font-size: 14px;
  background-color: rgba($background-color, 0.5);
  &.options {
    padding-bottom: 0;
  }
  &, .search-options, .search-basic {
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
  }
  .icon-button, .subreddits {
    &, &::placeholder {
      color: rgba(white, 0.6);
    }
    border: 1px solid white;
    background: none;
    padding: 4px;
    font-size: 16px;
  }
  .icon-button {
    min-width: 54px;
    cursor: pointer;
    transition: .2s;
    height: 36px;
    &:hover {
      border-color: $active-color;
    }
  }
  .subreddits {
    border: 0;
    margin: 0 4px;
    border-bottom: 2px solid white;
    flex-grow: 1;
    transition: .2s;
    &:focus {
      color: white;
    }
  }
  .search-options {
    display: flex;
    align-items: center;
    width: 100%;
    height: 36px;
    .option {
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      margin: 5px;
    }
    select.option {
      background-color: $background-color;
    }
  }
}

.slideshow {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .image {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.nav {
  position: fixed;
  height: 75%;
  width: 72px;
  background-color: #3a3a3a;
  border: 1px solid white;
  font-size: 72px;
  color: white;
  cursor: pointer;
  transition: .1s;
  opacity: 0;
  &:hover {
    opacity: 0.75;
  }
  &:active {
    border-color: $active-color;
    color: $active-color;
  }
  &.previous, &.next {
    &:before {
      width: 100%;
    }
  }
  &.previous {
    left: 0;
    border-left: none;
    &:before {
      content: '<';
    }
  }
  &.next {
    right: 0;
    border-right: none;
    &:before {
      content: '>';
    }
  }
}
